:root {
    --color-trazo: rgba(255, 255, 255, 0.7);
    --tablero-tamaño: 330px;
    --fichas-tamaño: calc(var(--tablero-tamaño) / 6);
    --tablero-gap: calc((var(--tablero-tamaño) - (var(--fichas-tamaño) * 3)) / 2)
}

body {
    background-image: url('tablero_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

.marcador {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: calc(100px * 3 + 3px * 2 * 3);
}

.marcador .label {
    padding: 5px;
    border-radius: 3px;
    background-color: #222;
    color: #fff;
}

.marcador .label .points {
    padding: 2px;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
}

#mensaje {
    background-color: var(--color-trazo);
    padding: 2px;
    transition: 0.5s;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: var(--tablero-tamaño);
    height: var(--tablero-tamaño);
    /* border: var(--tablero-borde) solid var(--color-trazo); */
    gap: var(--tablero-gap);
    background: url('tablero.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.celda {
    width: var(--fichas-tamaño);
    height: var(--fichas-tamaño);
    /* border: 3px solid var(--color-trazo); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    transition: 0.5s;
}

.fichas {
    display: flex;
    width: 612px;
    height: 102px;
}

.ficha {
    display: flex;
    width: var(--fichas-tamaño);
    height: var(--fichas-tamaño);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    user-select: contain;
    border-radius: 5px;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.637); */
}

.x {
    color: transparent;
    background: url('x.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.o {
    color: transparent;
    background: url('o.svg');
    background-repeat: no-repeat;
    background-size: cover;
}